.login-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.login-backgroud-image {
    background-size: cover;
    height: 400px;
    width: 700px;
}